@import "nullStyle.scss";
// --------------------------------------
$background-color:#131313;
$main-color:#E3B873;

%button-set {
    background-color: $main-color;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;

  }

// Настройки обёртки и основных классов;
.wrapper{
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.__container{
    max-width: 1256px;
    margin: 0 auto;
}
// -HEADER------------------------------------------------------
.header {
    background-color: $background-color;
    text-wrap: nowrap;
    padding: 0px 10px;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 37px 0px;
    }
    &_logo {
        color: $main-color;
        margin-right: 20px;
    }

    &__nav {
        
    }

    &__activity {
        display: flex;
        align-items: center;
        &_phone {
            color: $main-color;
            text-decoration: underline;
        }

        &_button {
            margin-left: 45px;

            @extend %button-set;
            padding: 13px 33px;
            
        }
    }
    @media (max-width:1057px) {
        .nav_link:last-child{
            padding-right: 20px;
        }.header__activity_button{
            margin-left: 15px;
        }
    }
    @media (max-width:1022px) {
        .header__activity_button{
            display: none;
        }
        
    }
    @media (max-width:854px) {
        .header__activity_phone{
            color: #fff;
            text-decoration: none;
        }
        
    }
}
.nav {

    &_list {
        display: flex;  
    }

    &_item {
    }

    &_link {
        color: #fff;
        &:last-child{
            padding-right: 47px;
        }
    }
    @media (max-width:1174px) {
        .nav_link:last-child{
            padding-right: 27px;
        }
    }

    &__link-active {
        color: $main-color;
    }
}
@media (max-width:854px) {
    .nav{
        display: none;
    }
    
}
//  page---------------------------
.page {
    flex: 1 1 auto;
    &__main-block {
    }
}
//  main-block------------------------------------------
.main-block {
    position: relative;
    max-height: 707px;
    background: #000000B2;

    &_ibg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
        object-fit: cover;

    }
    &__container {
    }

    &__body {
        max-width: 760px;
        padding: 194px 0px 208px 42px;
        &_title {
            font-family: "Yeseva+One";
            font-size: 48px;
            line-height: 53 / 48 * 100%;
            font-weight: 600;
            text-transform: uppercase;
            & span{
                color: $main-color;
            }
        }

        &_text {
            max-width: 486px;
            font-size: 22px;
            line-height: 36 / 22 * 100%;
            padding: 19px 0px 41px 0px;
            & span{
                margin-right: 100px;
            }
        }
        &__button-section{

            &_button{
                @extend %button-set;
                width: 237px;
                height: 51px;
                margin-right: 20px;
                font-style: italic;
            }
            &_button-transparent{
                @extend %button-set;
                background-color: transparent;
                border: 1px solid #ffffff;
                width: 237px;
                height: 51px;
                font-style: italic;
            }
        }
    }
}
//----------------АДАПТИВ ДЛЯ MAIN-BLOCK-------------------------------
@media (max-width:712px) {
    .main-block__body{
        display: flex;
        flex-direction: column;
        padding: 85px 15px 61px 15px;
    }.main-block__body_title{
        max-width: 380px;
        font-size: 28px;
    }.main-block__body_text{
        max-width: 340px;
        padding: 16px 0px 16px 0px;
        font-size: 16px;
        & span{
            margin: 0;
        }
    }.main-block__body__button-section{

        &_button{
            
            margin-bottom: 10px
        }&_button-transparent{
            
        }
    }
    
}
@media (max-width:528px) {
    .main-block__body_title{
        max-width: 320px;
        font-size: 22px;
    }.main-block__body_text{
        max-width: 340px;
        font-size: 14px;
    }.main-block__body__button-section{
        display: flex;
        flex-direction: column;
        &_button{
            width: 100%;
            margin-bottom: 10px
        }&_button-transparent{
            width: 100%;
        }
    }
    
}
// --COMPLETED PROJECTS----------------------------------------------------------------------
.completed-projects {
    background-color: $background-color;
    display: flex;
    flex-direction: column;

    &_down-subtitle {
        text-transform: uppercase;
        text-align: center;
        margin-top: 90px;
        font-family: "Yeseva+One";
    }
    &__down-img{
        margin-top: 19px;
        margin-bottom: 31px;
        text-align: center;
        &_img-camera{
            padding: 0px 10px;

        }
        &_img-line-1, &_img-line-2 {
            position: relative;
            top: 10px;
            
        }
       
    }
    @media (max-width:689px) {
        .completed-projects_down-subtitle{
            margin-top: 58px;
        }
        
    }
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 0px 8px 0px 8px;
    }
    .completed-projects__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__cp-body-info {
        padding-top: 150px;
    }
    @media (max-width:689px) {
        .completed-projects__cp-body-info{
            padding-top: 36px;
        }
        
    }

    &__img-block {
        padding-top: 100px;
        margin-left: 20px;
        &_list {
            display: flex;
            text-transform: uppercase;
            font-family: "Yeseva+One";
            font-weight: 600;
            padding-bottom: 50px;
        }

        &_item {
            &:not(:last-child){
                margin-right: 60px;
            }
        }

        &_link {
            color: rgba(255, 255, 255, 0.3);
        }

        &_link-active {
            color: $main-color;
            text-decoration: underline;
        }

        &_img {
            width: 100%;
            border: 1px solid #2fa711;
            
        }
    }
    @media (max-width:689px) {
        .completed-projects__img-block{
            display: none;
        }
        
    }
}
.cp-body-info {

    &_title {
        text-transform: uppercase;
        font-size: 27px;
        font-family: "Yeseva+One";
        line-height: 37 / 27 * 100%;
        color: $main-color;
        max-width: 200px;
        padding-bottom: 34px;
    }

    &_text {
        font-size: 14px;
        line-height: 26 / 14 * 100%;
        max-width: 400px;
    }
    @media (max-width:689px) {
        .cp-body-info_text{
            text-align: center;
        }.cp-body-info_title{
            text-align: center;
        }
        
    }
    
    &__cp-main-info {
        display: grid;
        grid-template: 1fr 1fr/1fr 1fr;
        gap: 25px;
    }

    &__slider {
        display: flex;
        align-items: center;
        margin-top: 79px;
        &_btn-arrow {
            background: transparent;

        }

        &_point {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #383838;
            position: relative;
            top: -1px;
            margin: 0px 5px 0px 5px;
        }

        &_point-active {
            background-color: #fff;
        }
    }
    &__img-slider {
        position: relative;
        min-width: 305px;
        height: 241px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &_img {
            width: 100%;
            position: absolute;
            z-index: 0;

        }

        &_btn {
            position: relative;
            z-index: 1;
            background-color: $main-color;
            border: none;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            margin: 10px;
            
        }
        &_btn-img-back{
            position: relative;
            top: 1px;
            left: -2px;
        }
        &_btn-img-next{
            position: relative;
            top: 1px;
            right: -2px;
        }
    }
}

@media (max-width:689px) {
    .cp-body-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
@media (min-width:689px) {
    .cp-body-info__img-slider{
        display: none;
    }
    
}
.point-1{
    margin-left: 30px;
}
.point-3{
    margin-right: 30px;
}
.cp-main-info {
    padding-top: 42px;
    &__cp-main-info-blocks {
        display: flex;
        flex-direction: column;
        
        &_title {
            text-transform: uppercase;
            color: $main-color;
            font-size: 18px;
        }

        &_text {
            max-width: 100px;
            padding-top: 9px;
        }
    }
}
@media (max-width:689px) {
    .cp-body-info__slider{
        display: none;
    }
    
}
// Form-wrapper----------------------------------------
.page {

    &__form-block {
    }
}
.label{
    display: flex;
    flex-direction: column;
    
}
.form-block {
    &_down-subtitle{
        color: #131313;
    }
    color: #131313;
    font-size: 16px;
    &_input-name {
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        margin-right: 57px;
        padding: 8px 0px 6px 0px
    }
    &_label-text{
    }
    &_input-checkbox-fake{
        background-color: $main-color;
        display: inline-flex;
        width: 18px;
        color: #fff;
        height: 18px;
        justify-content: center;
        margin-right: 8px;
        &::before{
            content:"\2714";
            opacity: 0;
            transition: .2s;
          }
    }
    
    & input::placeholder{
        font-size: 16px;
    }
    &_input-tel {
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        margin-right: 49px;
        padding: 8px 0px 6px 0px
    }

    &_input-button {
        @extend %button-set;
        padding: 20px 75px;
        margin-top: 15px;
    }

    &_input-checkbox {
        display: none;
    }
    &_input-checkbox:checked + &_input-checkbox-fake::before{
        opacity: 1;
      }
    &__wrapp {
        display: flex;
        flex-direction: column;
    }

    &__body {
        margin-top: 93px;
        color: #131313;
        display: flex;
        justify-content: space-between;
    }
    @media (max-width:655px) {
        .form-block__body{
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }.form-block__body input{
            width: 90vw;
            
            margin: 0 auto;
        }.form-block__body{
            width: 90vw;
        }.form-block_input-button{
            margin-bottom: -27px;
        }.form-block_text{
            font-size: 12px;
        }
        
    }
}
.form-block {
    
    
    &_video {
        max-width: 817px;
        max-height: 434px;
        border: 1px solid #2fa711;
        margin-bottom: -220px;

    }
    
    
    &_line {
        padding: 62px 0px 34px;
    }

    &_text {
        text-align: center;
        max-width: 681px;
        font-size: 18px;
    }

    &__container {
        margin-top: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}

.label-checkbox{
    padding-top: 33px;
    font-size: 16px;
    align-self: center;
}
@media (min-width:844px) {
    .form-block_video{
        align-self: center;

    }
    
}
@media (min-width:656px) {
    .label-checkbox-for-mob{
        display: none;
    }
    
}
@media (max-width:655px) {
    .label-checkbox-for-desc{
        display: none;
    }
    
}
@media (max-width:844px) {
    .form-block_video{
        margin: 0px 10px;
    }
    
}
@media (max-width:844px) {
    .form-block__container{
        margin: 0px 10px;
    }.form-block{
        color: #fff;
        background-color: $background-color;
    }.form-block__body{
        color: #747474;
    }.form-block input{
        background-color: $background-color;
        border-bottom: 1px solid rgba(255, 255, 255);
    }.form-block input::placeholder{
        color: #fff;
    }
    
}
// types-repair-block----------------------------------------
.page {
    margin-bottom: 100px;
    &__types-repair-block {
    }
}
.types-repair-block {
    padding: 0px 15px;
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    @media (max-width:1205px) {
        .types-repair-block__container{
            justify-content: center;
        }
        
    }
    &__card {
        
    }

    &__img-wrap {
        max-width: 392px;
        max-height: 421px;
        border: 1px solid #2fa711;
        &_img {
            width: 100%;
        }
    }

    &__body {
        width: 330px;
        height: 286px;
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
        margin: -106px 0px 0px 31px;
        position: relative;
        background-color: #fff;
        &_title {
            color: #131313;
            font-size: 18px;
            font-weight: 600;
            padding: 25px 0px 13px 34px;
        }

        &_list {
            color: #747474;
            padding: 0px 0px 23px 34px;
        }

        &_item {
            position: relative;
            padding-left: 10px;
            line-height: 26/14*100%;
            &::before{
                content: "";
                position: relative;
                display: inline-block;
                background-color: #747474;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                top: -2px;
                left: -5px;
                
            }
        }
        
        &_text-cont {
            display: flex;
            background-color: $main-color;
            width: 228px;
            height: 54px;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            position: relative;
            
        }
    }
}

@media (max-width:1205px) {
    .types-repair-block__card{
        margin-bottom: 89px;
        margin-right: 5px;
    }
    
}
@media (max-width:442px) {
    .types-repair-block__card {
        max-width: 315px;
        max-height: 381px;
        margin: 0;
        margin-bottom: 190px;

    }.types-repair-block__body{
        width: 290px;
        height: 266px;
    }
    
}
// -requuest-forma---------------------------
.page {
    
    &__request-forma {
        
    }
}
.request-forma {
    margin-top: 200px;
    position: relative;
    &_ibg{
        position: absolute;
        object-fit: contain;
        max-width: 100%;
        height: 100%;
        top:0;
        
        z-index: -1;
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__points-wrapp {
    }

    &__point {
        display: flex;
        align-items: center;
        padding-bottom: 100px;

        &_num {
            border: 4px solid #ffffff;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-color: $main-color;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 600;
        }

        &_text {
            color: #131313;
            padding-left: 17px;
            max-width: 316px;
        }
    }

    &__form-wrapp {
        background-color: $background-color;
        width: 506px;
        height: 509px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_title {
            text-align: center;
            max-width: 297px;
            padding-top: 28px;
            padding-bottom: 39px;
        }
        &_btn{
            @extend %button-set;
            padding: 18px 22px;
            justify-self: flex-end;
            border-radius: 0;
            text-transform: uppercase;
            position: relative;
            top: 40px;
            left: 100px;
        }
        &_label-text {
            
        }
        &_forma{
            display: flex;
            flex-direction: column;
        }
        &_forma input{
            background-color: $background-color;
            border-bottom: 1px solid #747474;
            
        }
        &_input-name{
            margin-bottom: 48px;
            width: 408px;
        }
        &_input-email{
        }
        &_input-tel {
            margin-bottom: 48px;
            // width: 30rem;
        }
    }
}
.piggy-bank {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    left: -100px;
    &_img {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: $main-color;
        text-align: center;
        position: relative;
        & img{
            position: absolute;
            top: 17px;
            left: 17px;
        }
        margin-right: 10px;
    }

    &_text {
        max-width: 184px;
        color:$main-color;
        font-size: 16px;
    }
}

.label-checkbox {
}
