@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
* {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 162.5%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Nunito+Sans";
  font-size: 14px;
  color: #fff;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.locate-block__form-wrap_btn, .request-forma__form-wrapp_btn, .form-block_input-button, .main-block__body__button-section_button-transparent, .main-block__body__button-section_button, .header__activity_button {
  background-color: #E3B873;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.__container {
  max-width: 1256px;
  margin: 0 auto;
}

.header {
  background-color: #131313;
  text-wrap: nowrap;
  padding: 0px 10px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0px;
}
.header_logo {
  color: #E3B873;
  margin-right: 20px;
}
.header__activity {
  display: flex;
  align-items: center;
}
.header__activity_phone {
  color: #E3B873;
  text-decoration: underline;
}
.header__activity_button {
  margin-left: 45px;
  padding: 13px 33px;
}
@media (max-width: 1057px) {
  .header .nav_link:last-child {
    padding-right: 20px;
  }
  .header .header__activity_button {
    margin-left: 15px;
  }
}
@media (max-width: 1022px) {
  .header .header__activity_button {
    display: none;
  }
}
@media (max-width: 854px) {
  .header .header__activity_phone {
    color: #fff;
    text-decoration: none;
  }
}

.nav_list {
  display: flex;
}
.nav_link {
  color: #fff;
}
.nav_link:last-child {
  padding-right: 47px;
}
@media (max-width: 1174px) {
  .nav .nav_link:last-child {
    padding-right: 27px;
  }
}
.nav__link-active {
  color: #E3B873;
}

@media (max-width: 854px) {
  .nav {
    display: none;
  }
}
.page {
  flex: 1 1 auto;
}
.main-block {
  position: relative;
  max-height: 707px;
  background: rgba(0, 0, 0, 0.6980392157);
}
.main-block_ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-block__body {
  max-width: 760px;
  padding: 194px 0px 208px 42px;
}
.main-block__body_title {
  font-family: "Yeseva+One";
  font-size: 48px;
  line-height: 110.4166666667%;
  font-weight: 600;
  text-transform: uppercase;
}
.main-block__body_title span {
  color: #E3B873;
}
.main-block__body_text {
  max-width: 486px;
  font-size: 22px;
  line-height: 163.6363636364%;
  padding: 19px 0px 41px 0px;
}
.main-block__body_text span {
  margin-right: 100px;
}
.main-block__body__button-section_button {
  width: 237px;
  height: 51px;
  margin-right: 20px;
  font-style: italic;
}
.main-block__body__button-section_button-transparent {
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 237px;
  height: 51px;
  font-style: italic;
}

@media (max-width: 712px) {
  .main-block__body {
    display: flex;
    flex-direction: column;
    padding: 85px 15px 61px 15px;
  }
  .main-block__body_title {
    max-width: 380px;
    font-size: 28px;
  }
  .main-block__body_text {
    max-width: 340px;
    padding: 16px 0px 16px 0px;
    font-size: 16px;
  }
  .main-block__body_text span {
    margin: 0;
  }
  .main-block__body__button-section_button {
    margin-bottom: 10px;
  }
}
@media (max-width: 528px) {
  .main-block__body_title {
    max-width: 320px;
    font-size: 22px;
  }
  .main-block__body_text {
    max-width: 340px;
    font-size: 14px;
  }
  .main-block__body__button-section {
    display: flex;
    flex-direction: column;
  }
  .main-block__body__button-section_button {
    width: 100%;
    margin-bottom: 10px;
  }
  .main-block__body__button-section_button-transparent {
    width: 100%;
  }
}
.completed-projects {
  background-color: #131313;
  display: flex;
  flex-direction: column;
}
.completed-projects_down-subtitle {
  text-transform: uppercase;
  text-align: center;
  margin-top: 90px;
  font-family: "Yeseva+One";
}
.completed-projects__down-img {
  margin-top: 19px;
  margin-bottom: 31px;
  text-align: center;
}
.completed-projects__down-img_img-camera {
  padding: 0px 10px;
}
.completed-projects__down-img_img-line-1, .completed-projects__down-img_img-line-2 {
  position: relative;
  top: 10px;
}
@media (max-width: 689px) {
  .completed-projects .completed-projects_down-subtitle {
    margin-top: 58px;
  }
}
.completed-projects__container {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px 0px 8px;
}
.completed-projects .completed-projects__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.completed-projects__cp-body-info {
  padding-top: 150px;
}
@media (max-width: 689px) {
  .completed-projects .completed-projects__cp-body-info {
    padding-top: 36px;
  }
}
.completed-projects__img-block {
  padding-top: 100px;
  margin-left: 20px;
}
.completed-projects__img-block_list {
  display: flex;
  text-transform: uppercase;
  font-family: "Yeseva+One";
  font-weight: 600;
  padding-bottom: 50px;
}
.completed-projects__img-block_item:not(:last-child) {
  margin-right: 60px;
}
.completed-projects__img-block_link {
  color: rgba(255, 255, 255, 0.3);
}
.completed-projects__img-block_link-active {
  color: #E3B873;
  text-decoration: underline;
}
.completed-projects__img-block_img {
  width: 100%;
  border: 1px solid #2fa711;
}
@media (max-width: 689px) {
  .completed-projects .completed-projects__img-block {
    display: none;
  }
}

.cp-body-info_title {
  text-transform: uppercase;
  font-size: 27px;
  font-family: "Yeseva+One";
  line-height: 137.037037037%;
  color: #E3B873;
  max-width: 200px;
  padding-bottom: 34px;
}
.cp-body-info_text {
  font-size: 14px;
  line-height: 185.7142857143%;
  max-width: 400px;
}
@media (max-width: 689px) {
  .cp-body-info .cp-body-info_text {
    text-align: center;
  }
  .cp-body-info .cp-body-info_title {
    text-align: center;
  }
}
.cp-body-info__cp-main-info {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 25px;
}
.cp-body-info__slider {
  display: flex;
  align-items: center;
  margin-top: 79px;
}
.cp-body-info__slider_btn-arrow {
  background: transparent;
}
.cp-body-info__slider_point {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #383838;
  position: relative;
  top: -1px;
  margin: 0px 5px 0px 5px;
}
.cp-body-info__slider_point-active {
  background-color: #fff;
}
.cp-body-info__img-slider {
  position: relative;
  min-width: 305px;
  height: 241px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cp-body-info__img-slider_img {
  width: 100%;
  position: absolute;
  z-index: 0;
}
.cp-body-info__img-slider_btn {
  position: relative;
  z-index: 1;
  background-color: #E3B873;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 10px;
}
.cp-body-info__img-slider_btn-img-back {
  position: relative;
  top: 1px;
  left: -2px;
}
.cp-body-info__img-slider_btn-img-next {
  position: relative;
  top: 1px;
  right: -2px;
}

@media (max-width: 689px) {
  .cp-body-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 689px) {
  .cp-body-info__img-slider {
    display: none;
  }
}
.point-1 {
  margin-left: 30px;
}

.point-3 {
  margin-right: 30px;
}

.cp-main-info {
  padding-top: 42px;
}
.cp-main-info__cp-main-info-blocks {
  display: flex;
  flex-direction: column;
}
.cp-main-info__cp-main-info-blocks_title {
  text-transform: uppercase;
  color: #E3B873;
  font-size: 18px;
}
.cp-main-info__cp-main-info-blocks_text {
  max-width: 100px;
  padding-top: 9px;
}

@media (max-width: 689px) {
  .cp-body-info__slider {
    display: none;
  }
}
.label {
  display: flex;
  flex-direction: column;
}

.form-block {
  color: #131313;
  font-size: 16px;
}
.form-block_down-subtitle {
  color: #131313;
}
.form-block_input-name {
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  margin-right: 57px;
  padding: 8px 0px 6px 0px;
}
.form-block_input-checkbox-fake {
  background-color: #E3B873;
  display: inline-flex;
  width: 18px;
  color: #fff;
  height: 18px;
  justify-content: center;
  margin-right: 8px;
}
.form-block_input-checkbox-fake::before {
  content: "✔";
  opacity: 0;
  transition: 0.2s;
}
.form-block input::-moz-placeholder {
  font-size: 16px;
}
.form-block input::placeholder {
  font-size: 16px;
}
.form-block_input-tel {
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  margin-right: 49px;
  padding: 8px 0px 6px 0px;
}
.form-block_input-button {
  padding: 20px 75px;
  margin-top: 15px;
}
.form-block_input-checkbox {
  display: none;
}
.form-block_input-checkbox:checked + .form-block_input-checkbox-fake::before {
  opacity: 1;
}
.form-block__wrapp {
  display: flex;
  flex-direction: column;
}
.form-block__body {
  margin-top: 93px;
  color: #131313;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 655px) {
  .form-block .form-block__body {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-block .form-block__body input {
    width: 90vw;
    margin: 0 auto;
  }
  .form-block .form-block__body {
    width: 90vw;
  }
  .form-block .form-block_input-button {
    margin-bottom: -27px;
  }
  .form-block .form-block_text {
    font-size: 12px;
  }
}

.form-block_video {
  max-width: 817px;
  max-height: 434px;
  border: 1px solid #2fa711;
  margin-bottom: -220px;
}
.form-block_line {
  padding: 62px 0px 34px;
}
.form-block_text {
  text-align: center;
  max-width: 681px;
  font-size: 18px;
}
.form-block__container {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label-checkbox {
  padding-top: 33px;
  font-size: 16px;
  align-self: center;
}

@media (min-width: 844px) {
  .form-block_video {
    align-self: center;
  }
}
@media (min-width: 656px) {
  .label-checkbox-for-mob {
    display: none;
  }
}
@media (max-width: 655px) {
  .label-checkbox-for-desc {
    display: none;
  }
}
@media (max-width: 844px) {
  .form-block_video {
    margin: 0px 10px;
  }
}
@media (max-width: 844px) {
  .form-block__container {
    margin: 0px 10px;
  }
  .form-block {
    color: #fff;
    background-color: #131313;
  }
  .form-block__body {
    color: #747474;
  }
  .form-block input {
    background-color: #131313;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  .form-block input::-moz-placeholder {
    color: #fff;
  }
  .form-block input::placeholder {
    color: #fff;
  }
}
.page__types-repair-block {
  margin-bottom: 100px;
}

.types-repair-block {
  padding: 0px 15px;
}
.types-repair-block__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 1205px) {
  .types-repair-block .types-repair-block__container {
    justify-content: center;
  }
}
.types-repair-block__img-wrap {
  max-width: 392px;
  max-height: 421px;
  border: 1px solid #2fa711;
}
.types-repair-block__img-wrap_img {
  width: 100%;
}
.types-repair-block__body {
  width: 330px;
  height: 286px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
  margin: -106px 0px 0px 31px;
  position: relative;
  background-color: #fff;
}
.types-repair-block__body_title {
  color: #131313;
  font-size: 18px;
  font-weight: 600;
  padding: 25px 0px 13px 34px;
}
.types-repair-block__body_list {
  color: #747474;
  padding: 0px 0px 23px 34px;
}
.types-repair-block__body_item {
  position: relative;
  padding-left: 10px;
  line-height: 185.7142857143%;
}
.types-repair-block__body_item::before {
  content: "";
  position: relative;
  display: inline-block;
  background-color: #747474;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: -2px;
  left: -5px;
}
.types-repair-block__body_text-cont {
  display: flex;
  background-color: #E3B873;
  width: 228px;
  height: 54px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

@media (max-width: 1205px) {
  .types-repair-block__card {
    margin-bottom: 89px;
    margin-right: 5px;
  }
}
@media (max-width: 442px) {
  .types-repair-block__card {
    max-width: 315px;
    max-height: 381px;
    margin: 0;
    margin-bottom: 190px;
  }
  .types-repair-block__body {
    width: 290px;
    height: 266px;
  }
}
.request-forma {
  margin-top: 200px;
  position: relative;
}
.request-forma_ibg {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.request-forma__container {
  display: flex;
  justify-content: space-between;
}
.request-forma__point {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}
.request-forma__point_num {
  border: 4px solid #ffffff;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #E3B873;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}
.request-forma__point_text {
  color: #131313;
  padding-left: 17px;
  max-width: 316px;
}
.request-forma__form-wrapp {
  background-color: #131313;
  width: 506px;
  height: 509px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.request-forma__form-wrapp_title {
  text-align: center;
  max-width: 297px;
  padding-top: 28px;
  padding-bottom: 39px;
}
.request-forma__form-wrapp_btn {
  padding: 18px 22px;
  justify-self: flex-end;
  border-radius: 0;
  text-transform: uppercase;
  position: relative;
  top: 40px;
  left: 100px;
}
.request-forma__form-wrapp_forma {
  display: flex;
  flex-direction: column;
}
.request-forma__form-wrapp_forma input {
  background-color: #131313;
  border-bottom: 1px solid #747474;
}
.request-forma__form-wrapp_input-name {
  margin-bottom: 48px;
  width: 408px;
}
.request-forma__form-wrapp_input-tel {
  margin-bottom: 48px;
}

.piggy-bank {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  left: -100px;
}
.piggy-bank_img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #E3B873;
  text-align: center;
  position: relative;
  margin-right: 10px;
}
.piggy-bank_img img {
  position: absolute;
  top: 17px;
  left: 17px;
}
.piggy-bank_text {
  max-width: 184px;
  color: #E3B873;
  font-size: 16px;
}

.fantasies {
  background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
  position: relative;
}
.fantasies_ibg {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.fantasies__container {
  margin-top: 150px;
  display: flex;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
}
.fantasies__body_title {
  text-transform: uppercase;
  color: #E3B873;
  padding-top: 137px;
  padding-bottom: 47px;
  font-size: 27px;
}
.fantasies__body_item {
  margin-bottom: 20px;
}
.fantasies__body_btn {
  font-size: 20px;
  color: #fff;
}
.fantasies__body_btn-active {
  text-decoration: underline;
  color: #E3B873;
}
.fantasies__img-wrapp {
  display: flex;
  justify-content: space-between;
}
.fantasies__img-wrapp__sect {
  max-width: 356px;
  max-height: 854px;
}
.fantasies__img-wrapp__sect_img {
  border: 1px solid #2fa711;
}
.fantasies__img-wrapp__sect_img-1 {
  margin-top: -40px;
  margin-bottom: 40px;
}
.fantasies__img-wrapp__sect_img-2 {
  margin-bottom: -10px;
}
.fantasies__img-wrapp__sect_img-3 {
  margin-top: -112px;
  margin-bottom: 40px;
}
.fantasies__img-wrapp__sect-1 {
  margin-right: 40px;
}

.clients-block {
  position: relative;
}
.clients-block_ibg {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.1;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: 0;
}
.clients-block_up-text {
  color: #131313;
  text-align: center;
  font-size: 18px;
  max-width: 346px;
  padding-bottom: 39px;
}
.clients-block__container {
  display: flex;
  justify-content: space-between;
}
.clients-block__card {
  background-color: #fff;
}

.cb-card {
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
  margin-bottom: 450px;
  padding: 24px 20px 0px 20px;
  max-width: 376px;
  margin-right: 15px;
  flex-wrap: wrap;
}
.cb-card_text {
  padding: 24px 20px 30px 0px;
  color: #747474;
}
.cb-card__person-info {
  display: flex;
  align-items: center;
}
.cb-card__person-info_img {
  border-radius: 50%;
  border: 1px solid #2fa711;
}
.cb-card__person-info_fullname {
  margin-left: 20px;
  font-size: 18px;
  color: #131313;
  max-width: 176px;
  font-weight: 600;
}
.cb-card__parameters-wrap {
  display: flex;
  position: relative;
  top: 22px;
  left: -20px;
}
.cb-card__parameter {
  background-color: #E3B873;
  display: flex;
  padding: 8px 15px;
  align-items: center;
}
.cb-card__parameter_title {
  padding-left: 10px;
  text-wrap: nowrap;
  font-size: 18px;
  font-weight: 600;
}
.cb-card__parameter-1 {
  border-right: 2px solid #fff;
}

.locate-block {
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url(/img/main/located/ibg.png) center/100% auto no-repeat;
}
.locate-block_title {
  color: #E3B873;
  max-width: 500px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 52px;
}
.locate-block__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.locate-block_map {
  margin-bottom: 65px;
}
.locate-block_map iframe {
  width: 925px;
  height: 465px;
  opacity: 0.4;
  transition: 3s;
  border: 2px solid #2fa711;
}
.locate-block_map iframe:hover {
  opacity: 1;
  transition: 1s;
}
.locate-block__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #E3B873;
  margin: 26px 10px 33px 0px;
}
.locate-block__social-wrap {
  display: flex;
}
.locate-block__social-wrap_link {
  position: relative;
  top: 3.5px;
}
.locate-block_forma {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}
.locate-block__form-wrap input {
  background-color: #131313;
  border-bottom: 1px solid #636363;
  color: #fff;
}
.locate-block__form-wrap input::-moz-placeholder {
  color: #fff;
}
.locate-block__form-wrap input::placeholder {
  color: #fff;
}
.locate-block__form-wrap {
  width: 883px;
  height: 445px;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -210px;
  position: relative;
  z-index: 10;
}
.locate-block__form-wrap__cont {
  display: flex;
  flex-direction: column;
  width: 516px;
}
.locate-block__form-wrap_title {
  text-align: center;
  padding-top: 34px;
  padding-bottom: 45px;
}
.locate-block__form-wrap_span {
  color: #747474;
}
.locate-block__form-wrap_input-name {
  width: 240px;
}
.locate-block__form-wrap_input-phone {
  width: 240px;
}
.locate-block__form-wrap_btn {
  width: 200px;
  height: 51px;
  border-radius: 0;
  justify-self: center;
  align-self: center;
  margin-top: 50px;
  transition: 0.1s;
}
.locate-block__form-wrap_btn:active {
  transform: scale(0.99);
  box-shadow: inset 1px 1px 10px #131313;
  transition: 0.1s;
}/*# sourceMappingURL=style.css.map */